<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965094397120-md4vbuv51thd2ojmpar7pcmsdcra4d4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965094397120-md4vbuv51thd2ojmpar7pcmsdcra4d4h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>965094397120-efm5bu3uekgheaqim2f0u0imal1v24vg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPQTPWbxDaWspvDtUhjLsCeb_UqYUvxfk</string>
	<key>GCM_SENDER_ID</key>
	<string>965094397120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartShopping</string>
	<key>PROJECT_ID</key>
	<string>smart-shopping-fa064</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-shopping-fa064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965094397120:ios:f67926dbe01a7aef5c0925</string>
</dict>
</plist>